{% extends 'layouts/base.html' %}

{% from 'nationalarchives/components/breadcrumbs/macro.njk' import tnaBreadcrumbs %}
{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{% set pageTitle = 'Record page image viewer prototype' %}
{% set theme = 'light' %}
{% set themeAccent = 'blue' %}

{% block beforeContent %}
<div class="tna-container">
  {{ tnaBreadcrumbs({
    items: [
      {
        text: 'Home',
        href: '/'
      }
    ],
    classes: 'tna-column tna-column--full tna-!--padding-vertical-s'
  }) }}
</div>
{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h1 class="tna-heading-xl">
        {{ pageTitle }}
      </h1>

      <div class="tna-block-contrast tna-image-viewer-start tna-!--margin-top-m">
        <h3>Preview this record</h3>

        <p class="tna-!--margin-top-xs">1849 images</p>

        <figure class="tna-image-viewer-start__image">
          <img src="/public/img/prototype-full-size.jpg" width="463" height="735" alt="" loading="lazy">

          {# Image contains catalogue reference but adding here for accessibility/legibility #}
          <figcaption>Catalogue Reference:adm/177/5</figcaption>
        </figure>

        <div class="tna-image-viewer-start__buttons tna-!--margin-top-m">
          {{ tnaButton({
            text: "Open in our accessible viewer",
            href: "/image-viewer-list"
          }) }}

          {{ tnaButton({
            text: "Open accessible viewer + Universal Viewer (progressive)",
            href: "/image-viewer-enhanced-list"
          }) }}
        </div>

      </div>


    </div>
  </div>
</div>
{% endblock %}
